{{template "header" .}}

<div class="container" style="max-width: 800px">
    <h1>Welcome to Central City Dentist Clinic</h1>
    <h3>You are currently either not logged in or need to sign up for an account</h3>
    <h4><a href="/signup">Sign Up</a></h4>
    <h4><a href="/login">Log in</a></h4>
</div>

{{template "footer"}}